.section {
  height: 800px;
  background-position: center;
  background-size: cover;
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 10px 0 10px;
}

.main.align-left {
  justify-content: flex-start;
  padding-left: 40px;
}

.main.align-right {
  justify-content: flex-end;
  padding-right: 40px;
}

.main.align-left .content,
.main.align-right .content {
  text-align: left;
  align-items: flex-start;
  max-width: 600px;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main p {
  margin: 0;
}

.main h1 {
  line-height: 1;
}

.video-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.video-container iframe {
  box-sizing: border-box;
  aspect-ratio: 16 / 9;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}

.dark-overlay {
  position: absolute;
  inset: 0;
}

.subtext-container {
  margin-top: 5px;
  font-style: italic;
}

.content {
  max-width: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  position: relative;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .main.align-left {
    justify-content: center;
    padding: 0 10px 0 10px;
  }

  .main.align-right {
    justify-content: center;
  }

  .main.align-left .content,
  .main.align-right .content {
    text-align: center;
    align-items: center;
    max-width: 100%;
  }
}
