.main {
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.2s;
  font-size: 20px;
  font-family: var(--font-metropolis-extra-bold);
}

.extra-padding {
  padding: 15px 80px;
}

.main:focus-visible {
  outline-offset: 4px;
}
