.heading {
  font-size: 3rem;
  color: var(--blaze-orange-500);
  margin-top: 0;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 70px;
}

.main {
  flex: 1;
}

.main .card-main-container {
  max-width: 269px;
}

.main .card-image-container {
  height: 405px;
}

.loading-indicator-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

@media screen and (max-width: 480px) {
  .cards-container {
    justify-content: center;
  }
}
