.main {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.loading-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
