.main h1,
.main h2,
.main h3,
.main h4,
.main p {
  margin: 0;
}

.main {
  max-width: 880px;
  margin: auto;
  padding: 60px 10px;
}

.heading {
  text-align: center;
}

.content-white * {
  color: white;
}

.accordion {
  margin-top: 60px;
}

.main .accordion-container {
  border-bottom: none;
  border-top: 1px solid black;
  transition: 0.2s;
}

.main .accordion-container:last-child {
  border-bottom: 1px solid black;
}

.main .accordion-container-expanded {
  border-top: 5px solid var(--blaze-orange-500);
}

.content-white .accordion-container,
.content-white .accordion-container-expanded,
.content-white .accordion-container:last-child {
  border-color: white;
}

.main .accordion-label {
  font-family: var(--font-metropolis-regular);
  font-size: 1.5rem;
}

.main .accordion-label-expanded {
  color: var(--blaze-orange-500);
  font-family: var(--font-metropolis-extra-bold);
}

.content-white .accordion-label-expanded {
  color: white;
}

.main .accordion-content {
  margin-left: 60px;
}

@media screen and (max-width: 1024px) {
  .main .accordion-label {
    width: 95%;
  }
}
