.main {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 90px 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  max-width: 480px;
  text-align: center;
}

.card-img {
  width: 100%;
}

.card h2 {
  margin: 0;
  text-transform: uppercase;
}

.card a {
  text-transform: uppercase;
}
