.main {
  text-align: center;
  padding: 90px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main p {
  margin: 0;
}

.stars-container {
  justify-content: center;
}

.review-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 768px;
}

.body-text-container {
  font-style: italic;
  position: relative;
}

.quote-mark {
  color: rgb(195 195 195 / 21%);
  position: absolute;
}

.quote-mark-left {
  left: 0;
  top: 0;
  translate: -117% -57%;
  rotate: 180deg;
}

.quote-mark-right {
  right: 0;
  bottom: 0;
  translate: 118% 29%;
}

.names-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.company-name {
  color: var(--armor-gray-300);
}

@media screen and (max-width: 1050px) {
  .quote-mark {
    display: none;
  }
}
