.main h1,
.main h2,
.main h3,
.main h4,
.main p {
  margin: 0;
}

.main {
  padding: 100px 50px;
}

.card {
  background-color: white;
  display: flex;
}

.content {
  flex: 0 0 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  gap: 30px;
}

.main div.image-container {
  height: 410px;
  flex: 0 0 50%;
  border-radius: 0;
}

@media screen and (max-width: 1024px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .content {
    padding: 40px;
  }

  .main div.image-container {
    height: initial;
    flex: 0 0 450px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
