.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 10px;
}

.heading-container h1,
.heading-container h2,
.heading-container h3,
.heading-container h4,
.heading-container h5,
.heading-container h6 {
  margin-top: 0;
}

.heading-container {
  color: var(--blaze-orange-500);
}

.content-white * {
  color: white;
}

.content-flex {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
}

.main div.image-container {
  flex: 0 0 420px;
  height: 728px;
  border-radius: 5px;
}

.text-sections-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 650px;
}

.text-sections-container h2,
.text-sections-container h3,
.text-sections-container h4,
.text-sections-container p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .image-figure {
    display: none;
  }

  .content-flex {
    flex-direction: column;
  }
}
