.section {
  background-color: var(--armor-gray-200);
  padding: 60px 0 100px 0;
}

.main {
  max-width: 1180px;
  margin: auto;
}

.main svg {
  display: block;
}

.main h3 {
  text-align: center;
}

.expandable-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.expand-button {
  display: block;
  width: 100%;
  background-color: var(--armor-gray-300);
  cursor: pointer;
  display: flex;
  border: none;
  align-items: center;
  font-size: 2.25rem;
  font-family: var(--font-metropolis-medium);
  text-transform: uppercase;
  gap: 15px;
  padding: 10px 20px;
  color: black;
  width: 30%;
}

.expand-button:hover {
  background-color: var(--armor-gray-400);
}

.expand-button:focus-visible {
  outline-offset: -2px;
}

.expanded-content {
  background-color: white;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  padding: 0 0;
  overflow: hidden;
  width: 70%;
}

li.selected .expanded-content {
  height: 450px;
  padding: 35px 0;
}

li.selected .expand-button {
  background-color: var(--blaze-orange-500);
  color: white;
  font-family: var(--font-metropolis-bold);
}

.divided-content {
  display: flex;
  justify-content: center;
  height: 100%;
}

.content-subsection {
  padding: 0 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.content-subsection:first-child {
  border-right: 2px solid black;
}

.content-subheading {
  font-size: 2.25rem;
  font-family: var(--font-metropolis-extra-bold);
  line-height: 1;
}

.orange {
  color: var(--blaze-orange-500);
}

.carolinas-container {
  position: relative;
  height: 168px;
}

.north-carolina,
.south-carolina {
  position: absolute;
  translate: -50% 0;
}

.north-carolina {
  left: 0;
  top: 0;
}

.south-carolina {
  left: -17px;
  top: 67px;
}

.logos-container {
  display: flex;
  gap: 20px;
}

.logo-with-bug-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tennessee-heading-container {
  max-width: 184px;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.flag-img {
  width: 156px;
}

.dyed-heading-container {
  max-width: 285px;
}

.dyed-body-container {
  max-width: 453px;
}

.iowa-tennessee-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .expandable-list {
    position: relative;
  }

  .expanded-content {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: 0.2s;
  }

  .expand-button {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  li.selected .expanded-content {
    height: 750px;
  }

  .divided-content {
    flex-direction: column;
  }

  .content-subsection {
    padding: 50px 10px;
  }

  .content-subsection:first-child {
    border-right: none;
    border-bottom: 2px solid black;
  }
}

@media screen and (max-width: 480px) {
  .iowa-tennessee-container {
    flex-direction: column;
  }
}
