.main {
  margin-top: 175px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  padding-bottom: 50px;
}

.main h1 {
  margin: 0;
  letter-spacing: initial;
}

.main p {
  margin: 5px 0;
}

.images-container {
  position: sticky;
  top: 150px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex: 0 0 780px;
}

.main .product-img-container {
  width: 375px;
  height: 550px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-label-1 {
  font-weight: bold;
  font-size: 0.875rem;
}

.swatch-color-text {
  color: var(--armor-gray-500);
}

.swatches {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  margin: 0;
}

.swatch {
  display: block;
  border: 2px solid white;
  outline: 1px solid var(--armor-gray-300);
  width: 30px;
  height: 30px;
  background-repeat: contain;
  background-size: 100% 100%;
  cursor: pointer;
  border-radius: 100px;
}

.swatch:focus-visible {
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: black;
}

.swatch.selected {
  outline-color: black;
}

.purchase-link {
  background-color: var(--blaze-orange-500);
  color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.purchase-link:focus-visible {
  outline-offset: 2px;
}

.usa-container {
  padding: 15px;
  background-color: var(--armor-gray-200);
  display: flex;
  gap: 15px;
  align-items: center;
}

.usa-heading {
  font-size: 1.25rem;
  font-weight: bold;
}

.usa-container .usa-body {
  font-size: 0.875rem;
  margin: 0;
}

.usa-body a {
  display: block;
}

.expandables {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.expandable-label {
  font-weight: bold;
}

.recommended-container {
  background-color: var(--armor-gray-50);
  padding: 20px 10px 40px 10px;
}

.recommended-heading {
  text-align: center;
  margin: 0 0 20px 0;
  font-family: var(--font-metropolis-extra-bold);
}

.recommended-content {
  min-height: 450px;
}

.recommended-container .recommendations-sliding-parent {
  height: 525px;
}

.loading-indicator-container {
  margin-top: 150px;
}

.mobile-heading {
  display: none;
}

@media screen and (max-width: 1100px) {
  .main h1 {
    display: none;
  }

  .mobile-heading {
    display: block;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }

  .main {
    margin-top: 190px;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
  }

  .images-container {
    position: initial;
    justify-content: center;
    flex: initial;
  }

  .main .product-img-container {
    width: 320px;
    height: 470px;
  }
}

@media screen and (max-width: 480px) {
  .recommended-heading {
    font-size: 1.75rem;
  }
}
