:root {
  --da-orange: #ff3301;
}

* {
  box-sizing: border-box;
  font-family: var(--font-metropolis-regular);
}

body {
  margin: 0;
  margin-top: 105px;
}

main {
  font-size: 1.25rem;
}

h1 {
  font-family: var(--font-metropolis-extra-bold);
}
