:root {
  --blaze-orange-100: #ffad99;
  --blaze-orange-200: #ff8566;
  --blaze-orange-300: #ff5c33;
  --blaze-orange-500: #ff3301;
  --blaze-orange-600: #cc2900;
  --blaze-orange-900: #991f00;
  --armor-gray-50: #f2f2f2;
  --armor-gray-100: #e5e5e6;
  --armor-gray-200: #cacbcc;
  --armor-gray-300: #b0b1b3;
  --armor-gray-400: #959799;
  --armor-gray-500: #7b7d80;
  --armor-gray-600: #626466;
  --armor-gray-700: #4a4b4d;
  --armor-gray-800: #313233;
  --armor-gray-900: #19191a;
}

* {
  box-sizing: border-box;
  font-family: var(--font-metropolis-regular);
  letter-spacing: 0.125rem;
}

body {
  margin: 0;
  margin-top: 105px;
}

main {
  font-size: 1rem;
}

h1 {
  font-family: var(--font-metropolis-extra-bold);
  font-size: 3.75rem;
}

h1.variant-1 {
  font-family: var(--font-metropolis-black);
}

h2 {
  font-family: var(--font-metropolis-extra-bold);
  font-size: 3rem;
}

h2.variant-1 {
  font-family: var(--font-metropolis-black);
}

h3 {
  font-family: var(--font-metropolis-extra-bold);
  font-size: 2.5rem;
  letter-spacing: 0.313rem;
}

h3.variant-1 {
  font-family: var(--font-metropolis-italic);
  letter-spacing: 0.313rem;
}

h3.variant-2 {
  font-family: var(--font-merriweather-regular);
  font-weight: normal;
  letter-spacing: 0.313rem;
}

h3.variant-3 {
  font-family: var(--font-merriweather-italic);
  font-weight: normal;
  letter-spacing: 0.313rem;
}

h4 {
  font-family: var(--font-metropolis-black);
  font-size: 2rem;
}

.subheader-1 {
  font-size: 1.5rem;
}

.subheader-2 {
  font-family: var(--font-merriweather-regular);
  font-size: 1.5rem;
}

.subheader-3 {
  font-size: 1.25rem;
}

.subheader-4 {
  font-family: var(--font-merriweather-regular);
  font-size: 1.25rem;
}

/* This is the default font style set at top of file */
/* .body-1 {
  font-family: var(--font-metr-regular);
  font-size: 1rem;
} */

.body-2 {
  font-family: var(--font-merriweather-regular);
}

.body-3 {
  font-size: 0.875rem;
}

.body-4 {
  font-family: var(--font-merriweather-regular);
  font-size: 0.875rem;
}

.skip-to-main {
  z-index: -10000;
  position: fixed;
  background-color: var(--blaze-orange-500);
  padding: 10px;
  top: 0;
  left: 0;
  color: white;
}

.skip-to-main:focus,
.skip-to-main:active {
  z-index: 10000;
}

.x-wide-container {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .x-wide-container {
    width: 1280px;
    margin: auto;
  }
}
