:root {
  --blaze-orange-100: #ffad99;
  --blaze-orange-200: #ff8566;
  --blaze-orange-300: #ff5c33;
  --blaze-orange-500: #ff3301;
  --blaze-orange-600: #cc2900;
  --blaze-orange-900: #991f00;
  --armor-gray-50: #f2f2f2;
  --armor-gray-100: #e5e5e6;
  --armor-gray-200: #cacbcc;
  --armor-gray-300: #b0b1b3;
  --armor-gray-400: #959799;
  --armor-gray-500: #7b7d80;
  --armor-gray-600: #626466;
  --armor-gray-700: #4a4b4d;
  --armor-gray-800: #313233;
  --armor-gray-900: #19191a;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 75px;
  font-family: var(--font-metropolis-regular);
  font-size: 1rem;
  line-height: 1.4;
}

body.with-announcement-banner {
  margin-top: 105px;
}

main {
  font-size: 1rem;
}

.display-1,
.display-1-medium {
  font-size: 3.75rem;
}

.display-1 {
  font-family: var(--font-metropolis-black);
  letter-spacing: 0.175rem;
}

.display-1-medium {
  font-family: var(--font-metropolis-medium);
}

h1,
.h1-medium {
  font-size: 3.75rem;
}

h1 {
  font-family: var(--font-metropolis-black);
  letter-spacing: 0.175rem;
}

.h1-medium {
  font-family: var(--font-metropolis-medium);
  font-weight: normal;
}

h2,
.h2-medium {
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-family: var(--font-metropolis-extra-bold);
  font-weight: normal;
}

.h2-medium {
  font-family: var(--font-metropolis-medium);
  font-weight: normal;
  letter-spacing: 0.175rem;
}

h3,
.h3-medium,
.h3-medium-italic,
.h3-italic,
.h3-bold {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.2;
}

h3 {
  font-family: var(--font-merriweather-regular);
}

.h3-medium-italic {
  font-family: var(--font-metropolis-medium-italic);
  letter-spacing: 0.125rem;
}

.h3-italic {
  font-family: var(--font-merriweather-italic);
}

.h3-bold {
  font-family: var(--font-metropolis-bold);
  letter-spacing: 0.125rem;
}

h4,
.h4-semi-bold {
  font-size: 2rem;
}

h4 {
  font-family: var(--font-metropolis-regular);
  font-weight: normal;
}

.h4-semi-bold {
  font-family: var(--font-metropolis-regular);
  letter-spacing: 0.125rem;
  font-weight: bold;
}

.subheader-1-regular,
.subheader-1-medium,
.subheader-1-semi-bold {
  font-size: 1.5rem;
  line-height: 1.2;
}

.subheader-1-semi-bold {
  font-family: var(--font-metropolis-extra-bold);
  line-height: 1.2;
}

.subheader-1-medium {
  font-family: var(--font-metropolis-regular);
  font-weight: bold;
}

.subheader-1-regular {
  font-family: var(--font-metropolis-regular);
  font-weight: normal;
}

.subheader-2 {
  font-family: var(--font-merriweather-regular);
  font-size: 1.5rem;
}

.subheader-3 {
  font-family: var(--font-metropolis-regular);
  font-size: 1.25rem;
}

.subheader-4 {
  font-family: var(--font-merriweather-regular);
  font-size: 1.25rem;
}

.body-1,
.body-1-semi-bold,
.body-1-underline {
  font-family: var(--font-metropolis-regular);
  font-size: 1rem;
  line-height: 1.4;
}

.body-1-semi-bold {
  font-weight: bold;
}

.body-1-underline {
  text-decoration: underline;
}

.body-2,
.body-2-bold,
.body-2-underline {
  font-family: var(--font-merriweather-regular);
  font-size: 1rem;
  line-height: 1.4;
}

.body-2-bold {
  font-weight: bold;
}

.body-2-underline {
  text-decoration: underline;
}

.body-3,
.body-3-semi-bold,
.body-3-underline {
  font-family: var(--font-metropolis-regular);
  font-size: 0.875rem;
  line-height: 1.4;
}

.body-3-semi-bold {
  font-weight: bold;
}

.body-3-underline {
  text-decoration: underline;
}

.body-4,
.body-4-bold,
.body-4-underline {
  font-family: var(--font-merriweather-regular);
  font-size: 0.875rem;
  line-height: 1.4;
}

.body-4-bold {
  font-weight: bold;
}

.body-4-underline {
  text-decoration: underline;
}

.button {
  font-family: var(--font-metropolis-extra-bold);
  font-size: 1rem;
  line-height: 1.4;
}

.skip-to-main {
  z-index: -10000;
  position: fixed;
  background-color: var(--blaze-orange-500);
  padding: 10px;
  top: 0;
  left: 0;
  color: white;
  pointer-events: none;
}

.skip-to-main:focus,
.skip-to-main:active {
  z-index: 10000;
}

.x-wide-container {
  width: 100%;
}

.link-with-arrow {
  position: relative;
}

.link-with-arrow::after {
  content: "▴" / ""; /* Hide from screen readers */
  scale: 200% 138%;
  position: absolute;
  right: 0;
  top: 0;
  translate: 90% 8px;
  rotate: 90deg;
  line-height: 0;
  display: block;
  transition: 0.2s;
  text-decoration: none;
  opacity: 0;
}

.link-with-arrow:hover::after {
  translate: 124% 8px;
  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .x-wide-container {
    width: 1280px;
    margin: auto;
  }
}
