/* Styles to customize the embedded Sendpulse subscription form */
.sp-form[sp-id="240784"] .sp-field label,
.sp-link-wrapper {
  display: none;
}

/* The form is initially created below the footer, but our code then moves it to where it belongs */
/* Keep it hidden until it's in place */
#sp-form-240784 {
  display: none;
  background: none;
  width: 100%;
  padding-left: 0;
}

.sp-form .sp-field[sp-id="sp-94da80f6-0ced-4d70-8409-b31a052e0ee1"] {
  padding-left: 0;
}

#sp-343511c0-9b4c-4c65-9644-82cd094c61c1 {
  position: relative;
  overflow: initial;
}

#sp-343511c0-9b4c-4c65-9644-82cd094c61c1:focus-visible:before {
  content: "";
  border: 2px solid white;
  position: absolute;
  inset: -6px;
}
