.nav-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  z-index: 100;
}

.da-home-link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 15px;
}

.da-logo-main {
  height: 47px;
  transition: 0.2s;
}

.da-logo-text {
  height: 35px;
}

.main {
  background-color: white;
  z-index: 100;
  -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  pointer-events: initial;
}

.main ul {
  list-style-type: none;
}

.buttons-container-right {
  display: flex;
  gap: 30px;
}

.nav-items {
  display: flex;
  gap: 30px;
}

.nav-items,
.nav-items-mobile {
  margin: 0;
}

.nav-items,
.nav-dropdown-items,
.nav-items-mobile,
.nav-dropdown-items-mobile {
  padding: 0;
  list-style-type: none;
}

.nav-item > a,
.nav-dropdown-item > a,
.nav-item-mobile > a,
.nav-dropdown-item-mobile > a {
  display: flex;
  align-items: center;
  transition: 0.2s;
  text-decoration: none;
}

.nav-item > a:visited,
.nav-dropdown-item > a:visited,
.nav-item-mobile > a:visited,
.nav-dropdown-item-mobile > a:visited {
  color: black;
}

.nav-item > a {
  padding: 30px 0 30px 0;
  transition: 0.2s;
  position: relative;
}

.nav-item-underline {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 5px;
  background-color: red;
  transition: 0.2s;
}

.nav-item-underline.expanded {
  left: 0;
  right: 0;
}

.main.compressed .nav-item > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-item > a:hover {
  background-color: rgb(228, 228, 228);
}

.nav-item.has-nav-dropdown > a:hover {
  background: none;
}

.nav-dropdown-items {
  display: flex;
  background-color: rgb(248, 248, 248);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  translate: 0 100%;
  flex-direction: column;
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}

.nav-dropdown-expanded {
  opacity: 1;
  pointer-events: initial;
}

.nav-dropdown-item > a {
  padding: 10px;
}

.nav-dropdown-item > a:hover {
  background-color: rgb(228, 228, 228);
}

.hamburger-button {
  display: none;
  padding: 20px;
  font-size: 35px;
  background: none;
  border: none;
  transition: 0.2s;
}

.main.compressed .hamburger-button {
  padding: 15px;
  font-size: 26px;
}

.main.compressed .da-logo-text {
  display: none;
}

.main.compressed .da-logo-main {
  height: 30px;
}

.mega-menu-dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  translate: 0 100%;
  background-color: #d9d9d9;
  display: flex;
  padding: 0 20px;
  border-top: 1px solid #a5a5a5;
  justify-content: space-between;
  gap: 20px;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
  height: 325px;
}

.mega-menu-dropdown a {
  text-decoration: none;
}

.mega-menu-dropdown a:visited {
  color: black;
}

.mega-menu-dropdown-sections-container {
  padding: 30px 0;
}

.mega-menu-dropdown-sections-container > ul {
  display: flex;
  gap: 60px;
}

.mega-menu-dropdown-section,
.mega-menu-dropdown-section ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mega-menu-dropdown-section-title {
  font-weight: bold;
  font-size: 1.125rem;
}

.mega-menu-dropdown ul {
  padding: 0;
}

.mega-menu-dropdown.expanded {
  pointer-events: initial;
  opacity: 1;
}

.mega-menu-dropdown-featured-items-container {
  display: flex;
  gap: 10px;
  height: 100%;
}

.mega-menu-dropdown-featured-container {
  position: relative;
  text-align: left;
  display: block;
  height: 100%;
}

.mega-menu-dropdown-featured-container img {
  height: 100%;
}

.mega-menu-dropdown-featured-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

.mega-menu-dropdown-featured-caption .mega-menu-dropdown-featured-arrow {
  height: 6px;
  filter: invert();
  rotate: 90deg;
  translate: 5px -2px;
}

.button {
  cursor: pointer;
  background: none;
  border: none;
}

.search-dialog {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
}

@media screen and (max-width: 768px) {
  .hamburger-button {
    display: block;
  }

  .nav-items {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .search-dialog {
    margin: 0;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
