.dialog {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 100%;
  max-height: initial;
  width: 500px;
}

.dialog button {
  cursor: pointer;
}

.dialog ul {
  list-style-type: none;
}

.nav-main-container {
  padding: 70px 30px 0 30px;
}

.nav-items-container {
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-left: 2px;
  margin: 0;
}

.dialog .close-x {
  position: absolute;
  top: 20px;
  left: 20px;
  right: initial;
  background: none;
  border: none;
  padding: 0;
}

.nav-item-label {
  padding: 20px 0;
  position: relative;
  display: inline-block;
}

.nav-item-label button {
  border: none;
  background: none;
  padding: 0;
}

.nav-item-label a,
.nav-item-label a:visited {
  color: black;
  text-decoration: none;
}

.animated-line {
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 5px;
  background-color: var(--blaze-orange-500);
  transition: 0.2s;
}

.nav-item.expanded .animated-line {
  right: 0;
}

.nav-item-sections-container {
  padding-left: 30px;
  padding-top: 0;
  transition: 0.2s;
  height: 0;
  overflow: hidden;
}

.nav-item.expanded .nav-item-sections-container {
  padding-left: 30px;
  padding-top: 20px;
  /* Limited browser support as of 12/2024; fallback to height: auto with no animation */
  height: auto;
  height: calc-size(auto, size);
}

.nav-subitem button {
  border: none;
  background: none;
  padding-top: 13px; /* hack because making it a button misaligns the decorative arrow for some reason */
}

.nav-subitem-label {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  padding: 10px 0;
}

.nav-subitem-label,
.nav-subitem-label:visited {
  color: black;
}

.nav-subitem-label img {
  position: absolute;
  width: 10px;
  height: 6px;
  rotate: 90deg;
  top: 50%;
  right: 0;
  translate: 150% -30%;
  transition: 0.2s;
}

.nav-subitem.expanded .nav-subitem-label img {
  rotate: 180deg;
}

.nav-subitem-links-container {
  padding: 2px 2px 2px 20px;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
}

.nav-subitem.expanded .nav-subitem-links-container {
  height: auto;
  height: calc-size(auto, size);
}

.nav-subitem-link {
  font-weight: normal;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}

.nav-subitem-link,
.nav-subitem-link:visited {
  color: black;
}

.special-link-container {
  padding: 10px 0 2px 9px;
}

@media screen and (max-width: 1024px) {
  .hamburger-button {
    display: block;
  }

  .mobile-expanded.main {
    opacity: 1;
    pointer-events: initial;
  }

  .mobile-expanded > .nav-items {
    translate: 0;
  }
}

@media screen and (max-width: 768px) {
  .dialog {
    width: 100%;
    max-width: initial;
  }
}

@media screen and (max-width: 480px) {
  .nav-main-container {
    inset: 0;
  }
}
