.main {
  text-align: center;
  padding: 8px;
  font-size: 0.875rem;
  pointer-events: initial;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.main p {
  margin: 0;
  font-family: var(--font-metropolis-bold);
  font-size: 16px;
}

.main a {
  padding: 10px 15px;
}

.main .link {
  font-size: 16px;
  padding: 6px 10px;
}
