.main {
  background-color: var(--armor-gray-900);
  letter-spacing: 0.125rem;
}

.main a {
  text-decoration: none;
}

.main a:hover {
  text-decoration: underline;
}

.main,
.main a,
.main a:visited {
  color: white;
}

.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--armor-gray-800);
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 7px;
}

.top-banner h3 {
  margin: 0;
  text-align: center;
}

.main-row {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 30px 0 30px;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.875rem;
}

.subscribe-connect-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribe-description {
  font-size: 0.875rem;
  font-family: var(--font-metropolis-semi-bold);
  text-align: center;
}

.subscribe-form {
  display: flex;
}

.email-submit-container {
  background-color: var(--armor-gray-600);
  padding: 10px;
  border-radius: 5px;
  width: 350px;
  display: flex;
}

.subscribe-form input {
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
  background: none;
  border: none;
  flex: 1;
}

.subscribe-form input,
.subscribe-form input::placeholder {
  color: white;
}

.subscribe-form button {
  font-size: 1rem;
  font-family: var(--font-metropolis-extra-bold);
  padding: 8px 13px;
  border-radius: 5px;
  background-color: white;
  border: none;
  letter-spacing: initial;
}

.icon-links-row {
  display: flex;
  gap: 17px;
  align-items: center;
}

.icon-link {
  display: block;
  cursor: pointer;
}

.mission-statement {
  font-size: 0.75rem;
  font-family: var(--font-merriweather-italic);
  font-style: italic;
  text-align: center;
  margin: 0;
}

.home-link-container {
  display: flex;
  justify-content: center;
}

.home-link-container a {
  display: block;
}

.home-link-container img {
  height: 40px;
}

.bottom-row-container {
  border-top: 2px solid var(--armor-gray-800);
  margin-top: 50px;
}

.bottom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  padding: 15px 30px 15px 30px;
  font-size: 0.75rem;
}

.bottom-row a {
  display: block;
}

.bottom-row-links {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
}

.bottom-row-links > div {
  padding: 0 25px 0 25px;
  border-right: 1px solid white;
}

.bottom-row-links > div:first-child {
  padding-left: 0;
}

.bottom-row-links > div:last-child {
  padding-right: 0;
  border: none;
}

@media screen and (max-width: 1024px) {
  .main-row {
    justify-content: center;
  }

  .subscribe-connect-container {
    align-items: center;
  }

  .bottom-row,
  .bottom-row-links {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .main-row,
  .bottom-row {
    flex-direction: column;
    text-align: center;
  }
}
