.main {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
  color: black;
  text-decoration: none;
}

.main:visited {
  color: black;
}

.main:hover {
  background-color: var(--armor-gray-100);
}

.main .image-container {
  height: 136px;
  width: 100px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 1.25rem;
}

.main:hover .info-container {
  text-decoration: underline;
}

.swatches {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3px;
}

.swatch {
  display: block;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background-repeat: contain;
  background-size: 100% 100%;
  cursor: pointer;
}

.swatch.selected {
  outline: 2px solid black;
}
